body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

a {
    text-decoration: none
}
a:hover{
    text-decoration: underline
}

button{
    background-color:#4285F4;
	color:white;
   font-weight:bold;
}

button.gris{
    background-color:#f8f8f8;
    color: black;
    height: 36px;
    width: 150px;
}

.barhaut{
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
}

.barhautgm{
    padding: 15px;
}

.recherche {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18%;
    margin-top: 18%;
}
.btnrecherche {
    margin: 15px;
    flex-direction: row;
    justify-content: center;

}
.saisie{
    height: 34px;
    width: 554;
    border-radius: 5px;
}
.footer1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer2 {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: flex-end;
}
.footer2g {
    display: flex;
    flex-direction: row;
    align-items: stretch
}
.btnhautfoot {
    margin: 5px;
}